@import "../vendors/bootstrap/3.3.3/stylesheets/bootstrap/_variables.scss";

$brand-primary-light: #428bca; // #428bca

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    code {
        border-radius: 3px;
    }
}


.bs-callout-default {
    border-left-color: $gray-light;

    h1, h2, h3, h4, h5, h6 {
        color: $gray-light;
    }
}

.bs-callout-primary {
    border-left-color: $brand-primary-light;

    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary-light;
    }
}

.bs-callout-success {
    border-left-color: $brand-success;

    h1, h2, h3, h4, h5, h6 {
        color: $brand-success;
    }
}

.bs-callout-warning {
    border-left-color: $brand-warning;

    h1, h2, h3, h4, h5, h6 {
        color: $brand-warning;
    }
}

.bs-callout-danger {
    border-left-color: $brand-danger;

    h1, h2, h3, h4, h5, h6 {
        color: $brand-danger;
    }
}

.bs-callout-info {
    border-left-color: $brand-info;

    h1, h2, h3, h4, h5, h6 {
        color: $brand-info;
    }
}
