<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2015, Vladimir Kuznetsov. All rights reserved.

This file is part of "Amba.Report" library.
 
"Amba.Report" library is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
"Amba.Report" library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.
 
You should have received a copy of the GNU Lesser General Public License
along with "Amba.Report" library. If not, see <http://www.gnu.org/licenses/>
-->
<configuration>
  <configSections>
    <sectionGroup name="amba">
      <section name="amba.report" type="Amba.Report.ConfigSection, Amba.Report" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <amba>
    <amba.report enabled="true" uri="api/report/{id}">
      <templates path=".\Amba.Report\Templates" dataFile=".\Amba.Report\Reports.xml" />
      <downloads path=".\Amba.Report\Downloads" deleteOlderThanInMinutes="60" deleteFrequencyInMinutes="1" />
    </amba.report>
  </amba>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>